# Laravel
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
docker-compose.override.yml

# Logs
*.log

# Shell and system files
.bash_history
.cache/
.config/
.gitconfig
.local/
.npm/

# Test files
/public/phpinfo.php
/public/laravel-test.php
/public/request-test.php
/public/test.php
