[mysqld]
default-authentication-plugin=mysql_native_password
skip-name-resolve
explicit_defaults_for_timestamp
sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
max_allowed_packet=256M